:root {
    /***** COLOR PALETTE *****/
    --golden-yellow: #FFC107;
    --green: #4CAF50;
    --very-light-gray: #FAFAFA;
    --dark-charcoal: #212121;
    --deep-green: #1B5E20;
    --dark-gold: #B8860B;


    /***** TYPOGRAPHY *****/
    --serif: Merriweather, Georgia, serif;
    --sans-serif: Lato, Arial, sans-serif;
}



/***** ALL PAGES *****/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--sans-serif);
}

h1 {
    font-family: var(--serif);
    color: var(--deep-green);
}

/***** HEADER *****/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    border-bottom: 5px solid var(--dark-gold);
    background-color: var(--golden-yellow);
}

.branding {
    display: flex;
    align-items: center;
    gap: 10px;
}

header img {
    width: 50px;
    height: 46px;
}

header span {
    font-weight: bold;
    font-family: var(--serif);
}

/***** HAMBURGER *****/
.hamburger {
    display: block;
    background: none;
    border: none;
    color: var(--dark-charcoal);
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1001;
}

.hamburger::before {
    content: "\2630"; /* ☰ */
    font-size: 2rem;
    color: var(--dark-charcoal);
}

.hamburger.show::before {
    content: "\00D7"; /* × */
    font-size: 2.5rem;
    color: var(--dark-charcoal);
}

/***** NAVIGATION *****/
.navigation {
    display: none;
    background-color: var(--golden-yellow);
    width: 100%;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.8rem 10px;
    color: var(--dark-charcoal);
    text-decoration: none;
    border: 1px solid var(--dark-gold);
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    margin: 0.5rem;
}

.navigation li.current a {
    color: var(--very-light-gray);
    background-color: var(--deep-green);
    font-weight: bold;
    border: 1px solid var(--green);
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.navigation a:hover {
    background-color: var(--dark-gold);
    color: var(--very-light-gray);
}


/***** BODY *****/
body {
    background-color: var(--very-light-gray);
    line-height: 1.5;
}

h1 {
    margin-left: 1rem;
    padding-left: 1rem;
}

/***** FOOTER *****/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--golden-yellow);
    border-top: 5px solid var(--dark-gold);
    text-align: center;
    min-height: 1.4rem;
    max-width: 100%;
}

.footer-member,
.footer-details {
    font-size: 0.8rem;
    min-height: 1.4rem;
    max-width: 100%;
}

.footer-details p {
    line-height: 1.2;
    white-space: nowrap;
}

footer .social img {
    width: 44px;
    height: 44px;
    display: block;
}

#currentyear,
#lastModified {
    min-height: 1.4rem;
    display: block;
    font-size: 0.8rem;
}

/* ===== HOME PAGE ===== */

/***** HERO *****/
#hero {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#hero img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/***** CTA *****/
#cta {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--very-light-gray);
    color: var(--dark-charcoal);
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-decoration: none;
}


#cta:hover {
    background-color: var(--golden-yellow);
}


/***** WEATHER & EVENTS GRID *****/
#events-container,
#weather-container,
#forecast {
    margin: 0;
}

.weather-events-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}



.weather-events-grid section {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/***** EVENTS SECTION *****/
#events-container ul {
    list-style: none;
    padding: 0;
}

#events-container li {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-left: 5px solid var(--dark-gold);
    background-color: var(--very-light-gray);
    border-radius: 4px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    line-height: 1.4;
}

.event-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

/***** WEATHER SECTION *****/

#weather-icon, .forecast-icon {
    width: 50px;
    height: auto;
    margin-bottom: 0.5rem;
    background-color: var(--golden-yellow);
    padding: 0.5rem;
    border-radius: 10%;
    border: 1px solid var(--very-light-gray);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.weather-events-grid section.cards {
    background-color: var(--very-light-gray);
    border: 5px solid var(--very-light-gray);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.weather-events-grid h2 {
    background-color: var(--golden-yellow);
    color: var(--dark-charcoal);
    padding: 0.5rem;
    font-size: 1.1rem;
    margin: -1rem -1rem 1rem -1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: var(--serif);
    text-align: left;
}

/***** FORECAST SECTION *****/
.day .forecast-row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.day .forecast-icon {
    width: 50px;
    height: auto;
    flex-shrink: 0;
}

.day .forecast-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#forecast-container .day {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

/***** SPOTLIGHT SECTION *****/
#spotlight-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}


#spotlight h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-family: var(--serif);
    font-size: 1.5rem;
    color: var(--deep-green);
}


#spotlight-container .member-card {
    max-width: 300px;
    width: 100%;
}



/* ===== DIRECTORY PAGE ===== */

/***** TOGGLE VIEW *****/

.view-toggle {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
}

.view-toggle button {
    width: 44px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--very-light-gray);
    border: 3px solid var(--deep-green);
    border-radius: 8px;
    cursor: pointer;
}

.view-toggle button img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.view-toggle button:hover {
    transform: scale(1.2);
    background-color: var(--golden-yellow);
}

.cards.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.cards.list {
    display: block;
}

.cards.list .member-logo {
    display: none;
}


/***** LIST VIEW STYLES *****/
.cards.list .member-card.list-row {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 2fr;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    background-color: var(--very-light-gray);
    font-size: 0.95rem;
}

.member-name-col {
    font-family: var(--serif);
    font-weight: bold;
}
.member-col {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#cards.list .member-card.list-row {
    display: block;
    padding: 0.5rem;
}

.member-col {
    white-space: normal;
    margin-bottom: 0.5rem;
}

/***** CARDS *****/
.cards {
    display: block;
    padding: 1rem;
    background-color: var(--very-light-gray);
}

.member-card { 
    background-color: var(--very-light-gray);
    border: 5px solid var(--green);
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.member-logo {
    width: 120px;
    height: 120px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    background-color: var(--very-light-gray);
    padding: 0.5rem;
    border-radius: 10%;
    border: 1px solid var(--very-light-gray);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.member-name {
    font-size: 1.25rem;
    line-height: 1.4;
    min-height: 1.8rem;
    font-weight: bold;
    margin: 0.5rem 0;
    font-family: var(--serif);
}

.member-tagline {
    font-style: italic;
    margin-bottom: 1rem;
}

.member-details {
    font-size: 1.05rem;
    margin: 0.2rem 0;
}

.member-details a {
    color: var(--dark-charcoal);
    text-decoration: none;
    font-weight: 500;
}

.member-details a:hover {
    color: var(--deep-green);
    text-decoration: underline;
}


/***** CARDS ICONS *****/
.icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}



/* ===== JOIN PAGE ===== */
#form-container, #thankyou-container {
    margin: 1rem auto;
    padding: 1rem;
    border: 5px solid var(--green);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--very-light-gray);
    color: var(--dark-charcoal);
}

#form-container h2 {
    margin: 1rem;
    text-align: center;
}

/* Application Form */

fieldset {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

legend {
    font-family: var(--serif);
    font-weight: bold;
    margin: 1rem;
    padding: 0.5rem;
}

label {
    margin: 0.5rem;
}

input, textarea {
    margin: 0.5rem;
    padding: 0.5rem;
    min-height: 44px;
    border: 1px solid var(--dark-gold);
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea {
    min-height: 200px;
}

/* Input Validation */

input:required, textarea:required {
    border-left: 8px solid var(--golden-yellow);
}

input.valid, textarea.valid {
    border-left: 8px solid var(--green);
    border-color: var(--green);
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

input.invalid, textarea.invalid {
    border-left: 8px solid red;
    border-color: red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}


#membership-level {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type="radio"] {
    transform: scale(0.5);
    margin: 0;
}

#form input[type="radio"] {
    width: 44px;
    height: 44px;
    cursor: pointer;
}

#membership-level label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    cursor: pointer;
}


#membership-level label:hover {
    background-color: var(--golden-yellow);
}

#submit-button, .membershipLevelDetailsButton {
    display: block;
    margin: 1.5rem auto;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: var(--golden-yellow);
    border: 1px solid var(--dark-gold);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#submit-button:hover {
    background-color: var(--dark-gold);
    color: var(--very-light-gray);
}


/* Membership Levels */
#membership-levels-container div {
    margin: 2.5rem;
    padding: 1rem;
    border: 1px solid var(--dark-charcoal);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

#membership-levels-container div:hover {
    transform: scale(1.05);
}

#membership-levels-container {
    margin: 1rem auto;
    padding: 1rem;
    border: 5px solid var(--very-light-gray);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--very-light-gray);
    color: var(--dark-charcoal);
}

#form-container h2, #membership-levels-container h2, .thankyou-container h2 {
    margin: 1rem;
    text-align: center;
    background-color: var(--golden-yellow);
    padding: 0.5rem;
    margin: -1rem -1rem 1rem -1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#form-container h2, .thankyou-container h2 {
    background-color: var(--deep-green);
    color: var(--very-light-gray);
}

#non-profit {
    background-color: #008080;
    color: var(--very-light-gray);
}

#bronze {
    background-color: #CD7F32;
}

#silver {
    background-color: silver;
}

#gold {
    background-color: gold;
}

.membershipLevelDetailsButton {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-weight: normal;
    background-color: var(--very-light-gray);
}

.membershipLevelDetailsButton:hover {
    background-color: var(--dark-charcoal);
    color: var(--very-light-gray);
}

#membership-levels-container h3, dialog h3 {
    font-family: var(--serif);
    text-align: center;
}

.membership-level-details-dialog-box {
    margin: 2rem auto;
    padding: 1.5rem;
    border: 1px solid var(--dark-gold);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--golden-yellow);
    color: var(--dark-charcoal);
}

.membership-level-details-dialog-box::backdrop {
    background-color: rgba(2, 89, 15, 0.5);
}

.membership-level-details-dialog-box p {
    margin: 1rem;
}

.membership-level-details-dialog-box ul {
    margin-left: 1.5rem;
    padding-left: 1.2rem;
    list-style-type: disc;
}

.membership-level-details-dialog-box li {
    margin-bottom: 0.5rem;
}

.membership-level-details-dialog-box #closeButton {
    margin: 0.5rem auto;
    padding: 0.5rem;
    border: 1px solid var(--dark-charcoal);
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    display: block;
}

/* Membership cards animation */
.membership-level-cards {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeSlideIn 0.8s ease-out forwards;
}

/* Delay each card for a staggered effect */
#non-profit {
    animation-delay: 0.2s;
}

#bronze {
    animation-delay: 0.4s;
}

#silver {
    animation-delay: 0.6s;
}

#gold {
    animation-delay: 0.8s;
}

@keyframes fadeSlideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ===== THANK YOU PAGE =====*/

.thankyou-page {
    display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;;
}

.thankyou-page main {
    flex: 1;
}

.thankyou-container {
    max-width: 600px;
    margin: 1rem auto;
    padding: 2rem;
    border: 2px solid var(--green);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--very-light-gray);
    text-align: left;
}


.thankyou-container p {
    margin: 0.5rem 0;
    line-height: 1.4;
}

/* Confetti Animation */
.emoji-confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.emoji-confetti span {
    position: absolute;
    font-size: 2rem;
    animation: floatDown 5s linear infinite;
    opacity: 0.8;
}

.emoji-confetti span:nth-child(1) {
    left: 10%;
    animation-delay: 0s;
}

.emoji-confetti span:nth-child(2) {
    left: 30%;
    animation-delay: 1s;
}

.emoji-confetti span:nth-child(3) {
    left: 50%;
    animation-delay: 2s;
}

.emoji-confetti span:nth-child(4) {
    left: 70%;
    animation-delay: 3s;
}

.emoji-confetti span:nth-child(5) {
    left: 90%;
    animation-delay: 4s;
}

@keyframes floatDown {
    0% {
        top: -10%;
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.2);
        opacity: 1;
    }

    100% {
        top: 110%;
        transform: rotate(360deg) scale(0.8);
        opacity: 0;
    }
}

/***** LARGER SCREENS *****/
@media only screen and (min-width: 768px) {
    /* ===== ALL PAGES ===== */
    /***** Hamburger *****/
    .hamburger {
        display: none;
    }

    /***** Navigation *****/
    .navigation {
        display: block;
        width: auto;
    }

    .navigation ul {
        display: flex;
        gap: 1rem;
    }

    /***** Footer *****/

    footer {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        padding: 1rem;
        background-color: var(--golden-yellow);
        border-top: 5px solid var(--dark-gold);
        gap: 1rem;
        text-align: center;
    }

    footer .footer-member {
        grid-column: 1/2;
        text-align: left;
        margin-left: 1rem;
    }

    footer .social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    footer .footer-details {
        grid-column: 3/4;
        text-align: right;
        margin-right: 1rem;
    }

    /* ===== HOME PAGE ===== */

    /***** Weather & Events *****/
    .weather-events-grid {
        grid-template-columns: 2fr 1fr 1fr;
        max-width: 1200px;
        margin: 0 auto;
        background-color: var(--very-light-gray);
    }

    /***** Events *****/
   
    #events-container .event {
        margin-bottom: 1rem;
        text-align: left;
    }


    #events-container .event p {
        font-size: 0.9rem;
        color: var(--dark-charcoal);
        line-height: 1.4;
    }

    /***** Weather Icon *****/
    #weather-container img,
    #forecast-container img {
        width: 50px;
        height: auto;
        margin: 0 auto 0.5rem;
        display: block;
    }

    /***** Forecast *****/
    #forecast-container p {
        text-align: left;
        font-size: 0.95rem;
        margin-bottom: 0.5rem;
    }

    /***** Spotlight *****/
    #spotlight-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    #spotlight-container h2 {
        grid-column: 1 / -1;
    }


    /* ===== DISCOVER PAGE ===== */


    /* ===== DIRECTORY PAGE ===== */
    
    /***** Cards *****/
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        margin: 1rem;
        align-items: stretch;
    }

    /* ===== JOIN PAGE ===== */
    #join-page {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        align-items: start;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
    }

    #form-container {
        width: 100%;
        grid-column: 1;
    }

    #membership-levels-container {
        width: 100%;
        grid-column: 2;
    }
}
